<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<head>
	<title>Week 12 </title>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/style.css" rel="stylesheet" type="text/css">
	<meta charset="utf-8">
	<script src="potato.js" defer></script>

</head>




	<body>
		<h1>Make your todo list</h1>

		<form method="POST" action="/sendTask">
			Input task: <input name="task" type="text">
			<br/>
			<input type="submit" value="Save Task" class = "button">
		</form>

		<div class = "tasks">
		<% for (var i = 0; i < allTheTasks.length; i++) { %>
				<p> <span id="task"><%=i+1%>. <%=allTheTasks[i].task%></span></p>
		<% } %>
	</div>

	</body>
</html>
