body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10vw;
}

form{
  margin-top: 40px;
}

.button {
  margin-top: 25px;
  background-color: ;
  color: white;
}

.tasks {
  margin-top: 50px;
}


#thisAwesomeButton {
	padding: 20px;
	border-radius: 25px;
}
