body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10vw;
}

h1 {
	margin-top: -20px;
}

form {
  margin-top: 70px;
}

.task-form {
	margin: 10px;
}

.button {
  	margin-left: 12px;
  	background-color: #609fd4;
  	color: white;
	border-radius: 8px;
	padding: 3px 10px;
}

.task-form, .button {
}

.tasks {
  width: 300px;
  text-align: left;
	margin: 50px auto 0 auto;
	/* border: 1px solid pink; */
}

#thisAwesomeButton {
	padding: 20px;
	border-radius: 25px;
}
